<h1 data-bind="html: title, appearAnimation: slideDown"></h1>
<p>Welcome!</p>
<p data-bind="appearAnimation: slideUp">
    This site is where Food Bank administrators can login and manage their top needs--which are then made available to donors using the Hunger Free City Mobile App.
    The goal is for donors to know your top needs, where you donation centers are, and to avoid buying supplies you don't really need.
</p>

<button id="button" data-role="button" class="k-primary" data-bind="invisible: loggedIn, click: doRegister" style="width: 200px;">
    <span class="fa fa-lg fa-user"></span>
    Sign up
</button>

<button id="button" data-role="button" class="k-primary" data-bind="invisible: loggedIn, click: doLogin" style="width: 200px;">
    <span class="fa fa-lg fa-sign-in"></span>
    Log in
</button>

<div id="allcenterlist"
     class="centerlist"
     data-role="listview"
     data-selectable="false"
     data-template="alltemplate"
     data-bind="source: centers, visible: loggedIn"
     style="padding-top: 20px; height: 500px; overflow: auto">
</div>
<script type="text/x-kendo-tmpl" id="alltemplate">
    <div class="center-tile">
        <table style="width: 100%">
            <tr>
                <td style="width: 350px">
                    <dl>
                        <dt data-bind="text: name" />
                        <dd data-bind="text: address.address1" />
                        <dd data-bind="text: address.address2" />
                        <dd>
                            <span data-bind="text: address.city" />
                            <span data-bind="text: address.state" />
                            <span data-bind="text: address.zipcode" />
                        </dd>
                        <dd data-bind="text: phone" />
                    </dl>
                </td>
                <td>
                    <div data-bind="top10: { coll: needs, prop: 'name' }"></div>
                </td>
                <td style="vertical-align: top; text-align: center; width: 20px;">
                    <label class="favorite-star">
                        <input type="checkbox" data-bind="checked: favorite" />
                        <span class="fa fa-2x"></span>
                    </label>
                </td>
            </tr>
        </table>
    </div>
</script>