<div data-bind="invisible: loggedIn">
    <h1>Sign Up (Free!) to Improve Food Bank Donations</h1>
    <ul>
        <li>See the top needs of your favorite local donation centers</li>
        <li>Find donation centers</li>
        <li>Also use our Mobile App (coming soon!)</li>
        <li>As a Food Bank administrator, use Hunger Free City to manage your top needs</li>
    </ul>

    <button data-role="button" class="k-primary" data-bind="click: doRegister" style="width: 200px;">
        <span class="fa fa-lg fa-user"></span> Sign up
    </button>

    <button data-role="button" class="k-primary" data-bind="click: doLogin" style="width: 200px;">
        <span class="fa fa-lg fa-sign-in"></span> Log in
    </button>
</div>

<div data-bind="visible: loggedIn">
    <h1>Donation Centers and Top Needs</h1>
    <h3>Our top need now: <span data-bind="text: topNeeds"></span></h3>
    <div id="homeTabToolbar"
         class="tabtoolbar"
         data-role="toolbar"
         data-bind="events: { toggle: tabToggle }"
         data-items='[{
            type: "buttonGroup",
            buttons: [
                { spriteCssClass: "fa fa-star", text: " FAVORITES", togglable: true, group: "tab", "id": "favorites" },
                { spriteCssClass: "fa fa-map-o", text: " MAP", togglable: true, group: "tab", "id": "map" },
                { spriteCssClass: "fa fa-list", text: " ALL", togglable: true, group: "tab", "id": "all" }
            ]
        }]'>
    </div>
    <div id="homeTabContent">
    </div>
</div>