<table style="width: 100%; height: 100%" data-bind="appearAnimation: slideLeft">
    <tr>
        <td style="width: 300px; vertical-align: top;">
            <h1 data-bind="appearAnimation: slideDown">Users</h1>
            <div id="userlist"
                 class="userlist"
                 data-role="listview"
                 data-selectable="true"
                 data-template="user-template"
                 data-bind="source: users, events: { change: showUser }"
                 style="height: 500px; overflow: auto">
            </div>
            <script type="text/x-kendo-tmpl" id="user-template">
				<div class="user-tile">
                    <dl>
                        <dt data-bind="text: email" />
                        <dd data-bind="combine: roles" />
                    </dl>
				</div>
			</script>
        </td>
        <td style="padding-left: 20px; vertical-align: top;" data-bind="appearAnimation: slideLeft">
            <h1 data-bind="appearAnimation: slideDown, html: user.email"></h1>
        </td>
    </tr>
</table>