@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h1>Hunger Free City</h1>
<p>An App to connect people in the community, local food banks and charities in order to end hunger in their city.</p>
