@{
	ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
	Hunger Free City<br />
	Jacksonville, FL<br />
	<abbr title="Phone">P:</abbr>
	904.555.1212
</address>

<address>
	<strong>Support:</strong>   <a href="mailto:support@hungerfreecity.org">support@hungerfreecity.org</a><br />
</address>