<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TRACKING_ID</key>
	<string>UA-64518089-1</string>
	<key>CLIENT_ID</key>
	<string>154876033895-s94pg38slk71peee8cpvj00ti05n1jkk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.154876033895-s94pg38slk71peee8cpvj00ti05n1jkk</string>
</dict>
</plist>