.editPanel {
	border: #71b1d1 1px solid;
    width: 400px;
}
.k-window-titlebar {
	background: #71b1d1;
	color: #FFF !important;
	font-size: 15pt;
    font-weight: bold;
    text-align: center;
}
.editPanel > div {
    padding-bottom: 20px;
    text-align: center;
}
.editPanel > div > input {
	font-size: 15pt;
}
.editPanel > div > button {
	font-size: 15pt;
    text-transform: uppercase;
}

.nav > li > span {
    vertical-align: middle;
    text-wrap: none;
    margin-top: 15px;
    margin-bottom: 15px;
}

div.k-window-content {
	padding: 10px;
}
.k-widget .k-autocomplete .k-header {
	width: 30em;
}
.k-widget .k-autocomplete .k-input, .k-dropdown-wrap {
	border: 1px solid #71b1d1;
	border-radius: 4px;
}
input .k-input .k-readonly {
	color: #999 !important;
}

/* favorite styling */
.favorite-star {
    margin: 2px;
}
.favorite-star > input[type=checkbox] {
    display: none;  /* hide the actual checkbox */
}
label.favorite-star > span:before {
    content: "\f006";
    color: #CCC;
}
label.favorite-star > input[type=checkbox]:checked + span:before {
    content: "\f005";
    color: gold;
}

.centerlist {
    border-style: none;
}
.center-tile {
    border: #71b1d1 solid 1px;
    border-radius: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}
.center-tile table {
    width: 100%;
}
.center-tile td {
    vertical-align: top;
    padding: 5px;
}
.center-tile td:last-child {
    text-align: right;
}
.center-tile dl {
    margin-top: 0;
    margin-bottom: 0;
}

.tabtoolbar {
    border-style: none;
    background-color: transparent;
}

.needslist {
    border-style: none;
    height: 700px;
    overflow-y: scroll;
}

.needItem {
    width: 300px;
    border: #71b1d1 solid 1px;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 7px;
}

.needItem > span:first-child {
    width: 200px;
    text-wrap: normal;
}

div.needItem span.fa {
    float: right !important;
    line-height: 1em;
    vertical-align: 0;
    padding-left: 15px;
}

.k-listview span.fa.fa-bars {
    cursor: move;
    color: #71b1d1;
}

.k-listview span.fa.fa-pencil, .k-listview span.fa.fa-trash {
    visibility: hidden !important;
}

.k-listview .k-state-selected span.fa.fa-pencil {
    visibility: visible !important;
    cursor: pointer;
    color: gold;
}

.k-listview .k-state-selected span.fa.fa-trash {
    visibility: visible !important;
    cursor: pointer;
    color: red;
}

a.removeIcon {
    visibility: visible !important;
    cursor: pointer;
    color: red;
}

button.confirmRemove {
    width: 0;
    height: 100%;
    line-height: 100%;
    cursor: pointer;
    background: red;
    border-radius: 5px;
    padding: 1px;
    color: white;
    vertical-align: middle !important;
    text-align: center;
    /*display: none;*/
    opacity: 0;
}

/***************************
* Notifications
***************************/
.notification {
	background: gold;
	padding: 20px;
	color: #000000;
	width: 200px;
	z-index: 10004;
}
.successNotification {
    border: #71b1d1 solid 1px;
    border-radius: 10px;
	background: greenyellow;
	padding: 20px;
	color: #000000;
	width: 200px;
	z-index: 10004;
}
.infoNotification {
    border: #71b1d1 solid 1px;
    border-radius: 10px;
	background: greenyellow;
	padding: 20px;
	color: #000000;
	width: 200px;
	z-index: 10004;
}
.warningNotification {
    border: #71b1d1 solid 1px;
    border-radius: 10px;
	background: gold;
	padding: 20px;
	color: #000000;
	width: 200px;
	z-index: 10004;
}
.errorNotification {
    border: #71b1d1 solid 1px;
    border-radius: 10px;
	background: lightsalmon;
	padding: 20px;
	color: #000000;
	width: 200px;
	z-index: 10004;
}