<h1 data-bind="html: title" />
<table style="width: 100%; height: 100%">
	<tr>
		<td style="width: 300px; vertical-align: top;">
            <div class="tabtoolbar"
                 data-role="toolbar"
                 data-bind="events: { click: doAction }"
                 data-items='[{
                    type: "buttonGroup",
                    buttons: [
                        { spriteCssClass: "fa fa-plus", text: " ADD CENTER", "id": "addcenter" },
                        { spriteCssClass: "fa fa-trash", text: " REMOVE CENTER", "id": "removecenter", hidden: true }
                    ]
                }]'>
            </div>
			<div id="centerlist"
                 class="centerlist"
                 data-role="listview"
				 data-selectable="true"
				 data-template="template"
				 data-bind="source: centers, events: { change: showCenter }"
				 style="height: 500px; overflow: auto">
			</div>
			<script type="text/x-kendo-tmpl" id="template">
				<div class="center-tile">
					<table>
						<tr>
							<td>
								<dl>
                                    <dt data-bind="text: name" />
                                    <dd data-bind="text: address.address1" />
                                    <dd data-bind="text: address.address2" />
                                    <dd>
                                        <span data-bind="text: address.city" />
                                        <span data-bind="text: address.state" />
                                        <span data-bind="text: address.zipcode" />
                                    </dd>
                                    <dd data-bind="text: phone" />
								</dl>
							</td>
							<td style="vertical-align: top;">
								<label class="favorite-star">
									<input type="checkbox" data-bind="checked: favorite" />
									<span class="fa fa-2x"></span>
								</label>
							</td>
						</tr>
					</table>
				</div>
			</script>
		</td>
		<td style="padding-left: 20px; vertical-align: top;">
			<div id="tabtoolbar"
                 class="tabtoolbar"
                 data-role="toolbar"
				 data-bind="visible: toolbarVisible, events: { toggle: tabToggle }"
				 data-items='[{
                    type: "buttonGroup",
                    buttons: [
                        { spriteCssClass: "fa fa-heart-o", text: " NEEDS", togglable: true, group: "tab", "id": "needs" },
                        { spriteCssClass: "fa fa-bank", text: " CENTER", togglable: true, group: "tab", "id": "center" },
                        { spriteCssClass: "fa fa-map-o", text: " LOCATION", togglable: true, group: "tab", "id": "location" }
                    ]
				}]'>
			</div>
            <div id="tabContent">
            </div>
		</td>
	</tr>
</table>