<div class="tabtoolbar"
     data-role="toolbar"
     data-bind="events: { click: doAction }"
     data-items='[{
        type: "buttonGroup",
        buttons: [
            { spriteCssClass: "fa fa-pencil", text: " EDIT", "id": "edit" }
        ]
    }]'>
</div>

<h3>Address</h3>
<div data-bind="text: item.address.address1"></div>
<div data-bind="text: item.address.address2"></div>
<div>
    <span data-bind="text: item.address.city"></span>
    <span data-bind="text: item.address.state"></span>
    <span data-bind="text: item.address.zipcode"></span>
</div>

<h3>Phone</h3>
<div data-bind="text: item.phone"></div>

<h3>Hours</h3>
<div data-bind="text: item.hours"></div>

<h3>Site</h3>
<div data-bind="text: item.site"></div>

<h3>Notes</h3>
<div data-role="listview"
     data-selectable="false"
     data-template="centerItemTemplate"
     data-bind="source: item.centerinfo">
</div>
<script type="text/x-kendo-tmpl" id="centerItemTemplate">
    <div data-bind="text: name" />
</script>

<div id="editCenterPanel" style="display: none"
     data-role="window"
     data-title="EDIT CENTER"
     data-draggable="true"
     data-modal="true"
     data-scrollable="false"
     data-pinned="false"
     data-resizable="false"
     data-position='{ top: "50%", left: "50%" }'
     data-visible="false"
     class="editPanel">
    <div>
        <label class="k-edit-label">Name</label>
        <input type="text" class="k-textbox" data-min-width="300" data-bind="value: item.name" placeholder="Name" />
        <label class="k-edit-label">Phone</label>
        <input type="text" class="k-textbox" data-min-width="300" data-bind="value: item.phone" placeholder="Phone" />
        <label class="k-edit-label">Hours</label>
        <input type="text" class="k-textbox" data-min-width="300" data-bind="value: item.hours" placeholder="Hours" />
        <label class="k-edit-label">Site URL</label>
        <input type="text" class="k-textbox" data-min-width="300" data-bind="value: item.site" placeholder="Site URL" />
        <label class="k-edit-label">Address</label>
        <input type="text" class="k-textbox" data-min-width="300" data-bind="value: item.address.address1" placeholder="Address" />
        <label class="k-edit-label">Address 2</label>
        <input type="text" class="k-textbox" data-min-width="300" data-bind="value: item.address.address2" placeholder="Address 2" />
        <label class="k-edit-label">City</label>
        <input type="text" class="k-textbox" data-min-width="300" data-bind="value: item.address.city" placeholder="City" />
        <label class="k-edit-label">State</label>
        <input type="text" class="k-textbox" data-min-width="300" data-bind="value: item.address.state" placeholder="State" />
        <label class="k-edit-label">Zip</label>
        <input type="text" class="k-textbox" data-min-width="300" data-bind="value: item.address.zipcode" placeholder="Zip" />
        <label class="k-edit-label">Notes</label>
        <textarea class="k-textbox" rows="6" data-min-width="300" data-bind="combine: item.centerinfo" placeholder="Notes" style="width: 248px;"></textarea>
    </div>
    <button id="button" data-role="button" class="k-primary" data-bind="click: closeButtonClick" style="width: 100%;">
        <span class="fa fa-floppy-o"></span> <span> Save</span>
    </button>
</div>
